@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #10b748;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-charcoal: #1A202C;
  --color-emerald: #10B981;
  --color-amber: #F59E0B;
  --color-coral: #EF4444;
  --color-dark-charcoal: #1A202C;
  --color-cool-gray: #718096;
  --color-light-gray: #F7F8FA;
  
  --font-display: 'Plus Jakarta Sans', sans-serif;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
    -webkit-tap-highlight-color: transparent;
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200;
}
